
body{
  background-color: #070601;
  min-height: 100vh;
  max-width: 95%;
  margin: 0 auto;
  scrollbar-color: white;
}
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  color:white;
}
.header .login-link{
  align-self: flex-end;
}
header img{
  max-width: 100%;
}
.books{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.books h1{
  color:white;
  flex-direction: column;
  font-size: 2rem;
}
.book-section.spinner{
  filter: blur(1.5rem);
}
.spin{
  margin: 4rem auto;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
  text-align: center;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 500px){
  .header{
    row-gap: 0.5rem;
  }
}